<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sohit Mahato</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="icon" href="{{url_for('static', filename='assets/man-icon.ico')}}">
</head>

<body>
    <div class="nav-bar">
        <nav>
            
            <ul class="nav-menu">
                <a class="nav-brand" href="/">
                    <img src="{{url_for('static', filename='assets/img/tech2.png')}}" alt="Logo" width="50px" height="50px">
                </a>
                <li><a href="#home">Home</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact Me</a></li>
                <li><a href="https://drive.google.com/file/d/1YW34hPU1eqH-fVZRFbDFnm-JRuwu1RmO/view?usp=drivesdk" target="_blank">Resume</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>


    <div class="container1" id="home">
<!--         <img class="top-cloud" src="{{url_for('static', filename='assets/img/cloud-white.png')}}" alt="cloud-img"> -->
        <h1 style="display: inline-block;">I'am Sohit.</h1>
        <h2>a Data Analyst</h2>
<!--         <img class="bottom-cloud" src="{{url_for('static', filename='assets/img/cloud-white.png')}}" alt="cloud-img"> -->
        <img class="mountain" src="{{url_for('static', filename='assets/img/mountain.png')}}" alt="mountain-img">
    </div>
    <div class="container2" id="about">
        <div class="profile">
            <img class="profile-img" src="{{url_for('static', filename='assets/img/mf-avatar.svg')}}" alt="Sohit-img">
            <h2>Hello,</h2>
            <p class="intro">
                I'm a Data Analyst specializing in:
            <ul>
                <li>📊 Data visualization</li>
                <li>🔍 Exploratory data analysis</li>
                <li>📈 Data-driven decision-making</li>
            </ul>
            I enjoy working with tools like:
            <ul>
                <li>📊 PowerBI</li>
                <li>📈 Tableau</li>
                <li>🐍 Python</li>
                <li>🗄️ MySQL</li>
            </ul>
            to uncover insights from data.
            </p>

        </div>
        <hr>
        <div class="skills">
            <h2>Skills</h2>
            <div class="skill-row">
                <img class="left-img" src="{{url_for('static', filename='assets/img/tech-skills.png')}}" alt="Technical Skills">
                <h3>Technical Skills</h3>
                <ul>
                    <li><b>Programming Languages:</b> 🐍 Python, 📊 R, 💻 SQL</li>
                    <li><b>Data Visualization:</b> 📊 PowerBI, 📈 Tableau, 📉 Matplotlib, 📊 Seaborn</li>
                    <li><b>Database Management:</b> 🗄️ MySQL</li>
                    <li><b>Web Scraping:</b> 🌐 BeautifulSoup, 🕷️ Selenium</li>
                    <li><b>Machine Learning:</b> 🤖 Predictive analysis, 📈 Data modeling</li>
                </ul>


            </div>
            <div class="skill-row">
                <img class="right-img" src="{{url_for('static', filename='assets/img/analytical-skills.png')}}" alt="Analytical Skills">
                <h3>Analytical Skills</h3>
                <ul>
                    <li><b>Statistical Analysis:</b> 📊 Statistics, probability, hypothesis testing</li>
                    <li><b>Data Cleaning and Preprocessing:</b> 🧹 Data wrangling techniques</li>
                    <li><b>Exploratory Data Analysis (EDA):</b> 🔍 Uncovering patterns, trends, insights</li>
                    <li><b>Survey Analysis:</b> 📝 Analyzing professional survey data</li>
                </ul>

            </div>
            <div class="skill-row">
                <img class="left-img" src="{{url_for('static', filename='assets/img/tools-tech.png')}}" alt="Tools and Technologies">
                <h3>Tools and Technologies</h3>
                <ul>
                    <li><b>PowerBI & Tableau:</b> 📊 Interactive dashboards and reports</li>
                    <li><b>Pandas & NumPy:</b> 🐼 Data manipulation and analysis</li>
                    <li><b>Jupyter Notebooks:</b> 📓 Documenting and sharing workflows</li>
                    <li><b>Git & GitHub:</b> 🌐 Version control and collaborative coding</li>
                    <li><b>Python:</b> 🐍 Programming and data analysis</li>
                    <li><b>MySQL:</b> 🗄️ Database management and querying</li>
                </ul>

            </div>
        </div>
    </div>
    <hr>
    <div class="container3" id="projects">
        <h2 class="projects-title">Some of my Recent Projects</h2>
        <br>
        <ul class="cards">
            <li class="card" id="card4">
                <img src="{{url_for('static', filename='assets/img/project-4.png')}}" alt="">
                <div class="caption">
                    <p>T20 World Cup Best 11 Analysis</p>
                    <a class="btn" href="https://app.powerbi.com/view?r=eyJrIjoiODY1NTY3MzktNjU5Mi00YjM3LWI5NDItZDYwZTAzMTVlNzJiIiwidCI6Ijc2ZTVlYmRiLWExNzctNDExMS04YjA4LWU2ZThmMTAzM2M3NCJ9" target="_blank">Dashboard Link <i
                        class="fa-solid fa-angle-right"></i></a>
                    <a class="btn" href="https://github.com/sohitkumar0803/PowerBI-T20WorldCup2022-Best11-Analysis" target="_blank">Github Link <i
                        class="fa-solid fa-angle-right"></i></a>
                </div>
                <div class="overlay">
                </div>
            </li>

            <li class="card" id="card5">
                <img src="{{url_for('static', filename='assets/img/project-5.png')}}" alt="">
                <div class="caption">
                    <p>Tableau Sales Dashboard</p>
                    <a class="btn" href="https://public.tableau.com/views/SalesDashboard_17272396594300/SalesDashboard?:language=en-US&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link" target="_blank">Dashboard Link <i
                            class="fa-solid fa-angle-right"></i></a>
                    <a class="btn" href="https://github.com/sohitkumar0803/Tableau-Sales-Dashboard" target="_blank">Github Link <i
                            class="fa-solid fa-angle-right"></i></a>
                </div>
                <div class="overlay">
                </div>
            </li>
            <li class="card" id="card6">
                <img src="{{url_for('static', filename='assets/img/project-6.png')}}" alt="">
                <div class="caption">
                    <p>PowerBI Sales Insight Project</p>
                    <a class="btn" href="https://app.powerbi.com/view?r=eyJrIjoiNzI3MjllYjctOGVmNS00ZTNjLWIyMTAtYTA0MGJiYWQ2MTIxIiwidCI6Ijc2ZTVlYmRiLWExNzctNDExMS04YjA4LWU2ZThmMTAzM2M3NCJ9" target="_blank">Dashboard Link <i
                            class="fa-solid fa-angle-right"></i></a>
                    <a class="btn" href="https://github.com/sohitkumar0803/PowerBI-Sales-Insight-Project" target="_blank">Github Link <i
                            class="fa-solid fa-angle-right"></i></a>
                </div>
                <div class="overlay">
                </div>
            </li>
            <li class="card" id="card1">
                <img src="{{url_for('static', filename='assets/img/project-1.png')}}" alt="">
                <div class="caption">
                    <p>PowerBI E-Commerce Sales Dashboard</p>
                    <a class="btn" href="https://app.powerbi.com/view?r=eyJrIjoiNTQzYzEzY2MtMmJlMS00YWNjLWJhMzItYThiOWI5MmVlZDcxIiwidCI6Ijc2ZTVlYmRiLWExNzctNDExMS04YjA4LWU2ZThmMTAzM2M3NCJ9" target="_blank">Dashboard Link <i
                            class="fa-solid fa-angle-right"></i></a>
                    <a class="btn" href="https://github.com/sohitkumar0803/PowerBI-ECommerce-Sales-Dashboard" target="_blank">Github Link <i
                            class="fa-solid fa-angle-right"></i></a>
                </div>
                <div class="overlay">
                </div>
            </li>
            <li class="card" id="card2">
                <img src="{{url_for('static', filename='assets/img/project-2.png')}}" alt="">
                <div class="caption">
                    <p>PowerBI Data Professional Survey Analysis</p>
                    <a class="btn" href="https://app.powerbi.com/view?r=eyJrIjoiYTBhOWNjMzEtY2Q2Zi00ZTM0LTgwYjAtNjRmZWQzMWQ5MzZiIiwidCI6Ijc2ZTVlYmRiLWExNzctNDExMS04YjA4LWU2ZThmMTAzM2M3NCJ9" target="_blank">Dashboard Link <i
                            class="fa-solid fa-angle-right"></i></a>
                    <a class="btn" href="https://github.com/sohitkumar0803/PowerBi-Data-Professional-Survey-Analysis" target="_blank">Github Link <i
                            class="fa-solid fa-angle-right"></i></a>
                </div>
                <div class="overlay">
                </div>
            </li>
            <li class="card" id="card3">
                <img src="{{url_for('static', filename='assets/img/project-3.png')}}" alt="">
                <div class="caption">
                    <p>Tableau AirBnB Data Analysis Project</p>
                    <a class="btn" href="https://public.tableau.com/views/AirBnBFullProject_17272432801900/AirBnBDashboard?:language=en-US&publish=yes&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link" target="_blank">Dashboard Link <i
                            class="fa-solid fa-angle-right"></i></a>
                    <a class="btn" href="https://github.com/sohitkumar0803/Tableau-AirBnB-Data-Analysis-Project" target="_blank">Github Link <i
                            class="fa-solid fa-angle-right"></i></a>
                </div>
                <div class="overlay">
                </div>
            </li>

        </ul>
    </div>

    <hr>
    <div class="container4" id="contact">
        <h2>Get In Touch</h2>
        <img class="contact-img" src="{{url_for('static', filename='assets/img/contact-mail.png')}}"
            alt="Contact Image">
        <h3>Let's Connect!</h3>
        <p class="contact-message">Whether you have a question, want to collaborate on a project, or just want to say
            hi, feel free to reach out. I'll get back to you as soon as possible!</p>
        <form action="/submit_form" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" required>

            <label for="message">Message</label>
            <textarea id="message" name="message" rows="5" required></textarea>

            <button type="submit">Send Message</button>
        </form>
    </div>

    <hr>

    <div class="container5" id="footer">
        <div class="links">
            <a class="footer-link" href="https://www.linkedin.com/in/sohitkumar08/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>LinkedIn
            </a>
            <a class="footer-link" href="https://github.com/sohitkumar0803" target="_blank">
                <i class="fa-brands fa-github"></i>Github
            </a>
        </div>

        <p class="copyright">&copy; 2024 Sohit Kumar Mahato.</p>
        <p class="copyright">Thanks for visiting...</p>
    </div>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <script src="https://kit.fontawesome.com/872d074bc0.js" crossorigin="anonymous"></script>

</body>

</html>
